<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookCave</title>
    

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/styles.css">
        <link rel="stylesheet" ref="~/css/frontpage.css">
        <link rel="stylesheet" href="~/css/addbook.css">
        <link rel="stylesheet" href="~/css/donate.css">
        <link rel="stylesheet" href="~/css/bookdetails.css">
        <link rel="stylesheet" href="~/css/category.css">
        <link rel="stylesheet" href="~/css/login.css">
         <link rel="stylesheet" href="~/css/signup.css">

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
         <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </environment>
</head>

    <body>
        <div class="jumbotron">
    <div class="container text-center">
        <h1>Book Cave</h1>      
        <p>Vefverslun</p>
    </div>
    </div>

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">BookCave</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Efnisflokkar <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Book" asp-action="Category">Metsölulistinn</a></li>
                                <li><a asp-controller="Book" asp-action="Category">Klassískar</a></li>
                                <hr/>
                                <li><a asp-controller="Book" asp-action="Category">Spenna</a></li>
                                <li><a asp-controller="Book" asp-action="Category">Gaman</a></li>
                                <li><a asp-controller="Book" asp-action="Category">Ævintýri</a></li>
                                <li><a asp-controller="Book" asp-action="Category">Barna og unglingabækur</a></li>
                                <li><a asp-controller="Book" asp-action="Category">Námsbækur</a></li>
                                <li><a asp-controller="Book" asp-action="Category">Ljóð</a></li>
                            </ul>
                </li>
                <li><a asp-controller="Home" asp-action="SpecialOrd">Sérpöntun</a></li>
                <li><a asp-controller="Home" asp-action="Donate">Ég vil styrkja!</a></li>
                <li><a asp-controller="Home" asp-action="About">Um Okkur</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" asp-controller="Home" asp-action="SearchBar">
                        <div class="input-group">
                        <input type="text" class="form-control" placeholder="Leita" name="searchInput"/>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"/>
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        </div>
                    </form>
                
                <li><a asp-area="" asp-controller="Home" asp-action="Cart"><span class="glyphicon glyphicon-shopping-cart">Karfa</a></li>
                <li class="dropdown">
                    
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								Skrá inn með
								<div class="social-buttons">
									<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
								</div>
                                eða
								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">Netfang</label>
											 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Netfang" required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Lykilorð</label>
											 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Lykilorð" required>
                                             <div class="help-block text-right"><a href="">Gleymt lykilorð?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" asp-controller="Home" asp-action="LoggedUser" class="btn btn-primary btn-block">Skrá inn</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"> Halda mér innskráðum
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								Nýr hér ? <a asp-controller="Home" asp-action="SignUp"><b>búðu til aðgang hér!</b></a>
							</div>
					 </div>
				</li>
			</ul>
        </li>
                <!-- ***GAMALT DOT -HARPA ***
                <li><a onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><span class="glyphicon glyphicon-user"></span>Skráðu þig inn</button>

                    <div id="id01" class="modal">
                        <form class="modal-content animate" action="/action_page.php">
                            <div class="imgcontainer">
                                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                                <img src="~/images/login.png" alt="Avatar" class="avatar">
                            </div>

                            <div class="container">
                                <label for="uname"><b>Notananafn</b></label>
                                <input type="text" placeholder="Notananafn:" name="uname" required>

                                <label for="psw"><b>Lykilorð</b></label>
                                <input type="password" placeholder="Lykilorð" name="psw" required>
                                
                                <button type="submit">Skrá inn</button>
                                <label>
                                <input type="checkbox" checked="checked" name="remember"> Muna eftir mér
                                </label>
                            </div>

                            <div class="container" style="background-color:#f1f1f1">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Loka</button>
                                <span class="psw">Gleymt <a href="#">lykilorð?</a></span>
                            </div>
                        </form>
                    </div>
                </li>
            <!--  <li><a asp-area="" asp-controller="Home" asp-action="Login"><span class="glyphicon glyphicon-user"></span>Skráðu þig inn</a></li> -->
            </ul>
        </div>
    </div>
    </nav>
   
          
 
    <div class="container body-content">
        @RenderBody()
        <hr />
            <footer class="container-fluid text-center">
            <!--<p>Online Store Copyright</p> -->
            <p>contactus&commat;bookcave.is</p>
            <p>sími: 581-2345</p>
            <p>kennitala: 210196-3079</p>
            <p>Fylgdu okkur!</p>
            <form class="form-inline">Skráðu þig á póstlistann:
                <input type="email" class="form-control" size="50" placeholder="Netfang">
                <button type="button" class="btn btn-danger">Skrá</button>
            </form>
            </footer>
        
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/bookdetails.js" asp-append-version="true"></script>
        <script src="~/js/frontpage.js" asp-append-version="true"></script>
        <script src="~/js/category.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/addbook.js" asp-append-version="true"></script>
        <script src="~/js/donate.js" asp-append-version="true"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> <!--added this for cart -harpa -->
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> <!--added this for cart -harpa -->
    </environment>

    @RenderSection("Scripts", required: false)
    
</body>
</html>
