@model BookCave.Models.ViewModels.RegisterViewModel;

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section>      
                <h1 class="entry-title"><span>Nýskráning</span> </h1>
                <hr/>
                <form class="form-horizontal" enctype="multipart/form-data" asp-controller="Account" asp-action="Register" method="POST">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Netfang<span class="text-danger">*</span></label>
                        <div class="col-md-8 col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="email" asp-for="Email" class="form-control" placeholder="Vinsamlegast skrifaðu netfangið þitt"/>
                                <span asp-validation-for="Email" class="text-danger"></span><br>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Fornafn<span class="text-danger">*</span></label>
                        <div class="col-md-8 col-sm-9">
                            <input type="text" asp-for="FirstName" class="form-control" placeholder="Vinsamlegast skrifaðu fornafn hér"/>
                            <span asp-validation-for="FirstName" class="text-danger"></span><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Eftirnafn<span class="text-danger">*</span></label>
                        <div class="col-md-8 col-sm-9">
                            <input type="text" asp-for="LastName" class="form-control" placeholder="Vinsamlegast skrifaðu eftirnafn hér"/>
                            <span asp-validation-for="LastName" class="text-danger"></span><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Land<span class="text-danger">*</span></label>
                        <div class="col-md-8 col-sm-9">
                            <select asp-for="CountryId">
                                <option value="1">Ísland</option>
                                <option value="2">Danmörk</option>
                                <option value="3">Noregur</option>
                                <option value="4">Svíþjóð</option>
                                <option value="5">Finnland</option>
                                <option value="6">England</option>
                                <option value="7">Bandaríkin</option>
                            </select>
                            <span asp-validation-for="CountryId" class="text-danger"></span><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Borg/Bær<span class="text-danger">*</span></label>
                        <div class="col-md-8 col-sm-9">
                            <input type="text" asp-for="City" class="form-control" placeholder="Vinsamlegast skrifaðu heimilisfang hér"/>
                            <span asp-validation-for="City" class="text-danger"></span><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Póstnúmer<span class="text-danger">*</span></label>
                        <div class="col-md-8 col-sm-9">
                            <input type="text" asp-for="ZIP" class="form-control" placeholder="Vinsamlegast skrifaðu heimilisfang hér"/>
                            <span asp-validation-for="ZIP" class="text-danger"></span><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Heimilisfang<span class="text-danger">*</span></label>
                        <div class="col-md-8 col-sm-9">
                            <input type="text" asp-for="Address" class="form-control" placeholder="Vinsamlegast skrifaðu heimilisfang hér"/>
                            <span asp-validation-for="Address" class="text-danger"></span><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Veldu þér lykilorð<span class="text-danger">*</span></label>
                        <div class="col-md-5 col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" asp-for="Password" class="form-control" placeholder="a.m.k. 8 stafir, með hástaf og tölustaf"/>
                                <span asp-validation-for="Password" class="text-danger"></span><br>
                            </div>   
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Staðfesta lykilorð<span class="text-danger">*</span></label>
                        <div class="col-md-5 col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Staðfestu lykilorðið"/>
                                <span asp-validation-for="Password" class="text-danger"></span><br>
                            </div>  
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Símanúmer<br/>
                        <small>valfrjálst</small></label>
                        <div class="col-md-8 col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Vinsamlegast skrifaðu símanúmer hér"/>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span><br>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Mynd<br/>
                        <small>valfrjálst</small></label>
                        <div class="col-md-5 col-sm-8">
                            <div class="input-group"> <span class="input-group-addon" id="file_upload"><i class="glyphicon glyphicon-upload"></i></span>
                                <input type="text" asp-for="Image" Class="form-control" placeholder="Vinsamlegast settu inn url-ið af myndinni hér"/>
                                <span asp-validation-for="Image" class="text-danger"></span><br>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-md-8 col-sm-9">
                            <span class="text-muted"><span class="label label-danger">Athugasemd:-</span> Með því að smella á Stofna aðgang, ert þú að samþykkja <a asp-area="" asp-controller="Home" asp-action="Terms">skilmála og skilyrði</a> Book Cave.</span> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-10">
                            <input name="Submit" type="submit" value="Stofna aðgang" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>