@model List<BookCave.Models.ViewModels.BookListViewModel>
<h1>Karfan þín</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Vara</th>
                        <th>Fjöldi</th>
                        <th class="text-center">Verð</th>
                        <th class="text-center">Heildarverð</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @for(var i=0; i<6; i++)
                    {
                        <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Harpa</a></h4>
                                <h5 class="media-heading"> by <a href="#">Harpa</a></h5>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>1.000 kr</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>2.000 kr</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Fjarlægja</button></td>
                    </tr>
                    }
                    
                    <!--tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Lord Of The Rings</a></h4>
                                <h5 class="media-heading"> by <a href="#">Harry Potter</a></h5>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>1.000 kr</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>2.000 kr</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Fjarlægja
                        </button></td>
                    </tr-->
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Heildarverð</h5></td>
                        <td class="text-right"><h5><strong>6.340 kr.</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Sendingarkostnaður</h5></td>
                        <td class="text-right"><h5><strong>500 kr.</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Lokaupphæð</h3></td>
                        <td class="text-right"><h3><strong>6.840 kr.</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> halda áfram að versla
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Greiða <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>