<div class="jumbotron text-xs-center">
  <h1 class="display-3">Styrkgreiðslan þín hefur verið móttekin!</h1>
  <p class="lead"><strong>Takk fyrir að leggja okkur lið og gefa börnum í Afríku tækifæri á að læra að lesa.</strong></p>
  <hr/>
  <p class="lead">
    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Index" role="button">Aftur á forsíðu</a>
  </p>
</div>