<button>Til baka</button>
<h1>Við viljum að allir fái tækifæri til þess að lesa!</h1>

<p>Um allan heim eru milljónir manns sem geta ekki nýtt sér hæfileika sína til fulls að sökum lélegs aðgengis að 
    lesefni. Rannsóknir hafa leitt í ljós að gott aðgengi að bókum dregur gríðarlega úr fátækt og veitir 
    einstaklingum möguleika á góðri vinnu, góðum launum og betri heilsu barna. Börn í þróunarlöndum, sem eiga
    læsa móður, eru helmingi líklegri að lifa lengur en til 5 ára aldurs.</p>

<p>Við vitum hvað lestur hefur gríðarlega jákvæð áhrif og viljum gera allt sem við getum til að auðvelda 
    aðgengi að bókum í þróunarlöndum. Með hjálp lesturs getur fólk breytt sínu eigin lífi til hins betra.</p>

<p>Það er enginn vafi á því að lestur hjálpar fólki að öðlast betra líf og móta sína framtíð. Í þróunarlöndum 
    getur verið gríðarlega erfitt að nálgast bækur. Þar eru bókasöfn besti ef ekki eini staðurinn sem fólk 
    getur uppgötvað þau jákvæðu áhrif sem lestur hefur. Með því að styrkja okkur styrkir þú bókasöfn í 
    þróunarlöndum sem keppast að því að veita auðveldan aðgang að bókum. Við vinnum með mörgum útgáfufyrirtækjum
    sem styðja við bakið á rúmlega 3.000 bókasöfnum víða í Afríku og Asíu með því að senda þeim vel valdar bækur.
    Þannig tryggjum við betri framtíð og lífsgæði fyrir þá sem minna mega sín.</p>

<h3>Þitt framlag skiptir máli!</h3>
<form>
    <label for="name">Fullt nafn:</label>
    <input style="text" id="name">
    </br>

    <label for="mail">Netfang:</label>
    <input style="email" id="mail">
    </br>

    <label for="ammount">Upphæð:</label>
    <select>
        <option>0 kr.</option>
        <option>1.000 kr.</option>
        <option>2.000 kr.</option>
        <option>5.000 kr.</option>
        <option>10.000 kr.</option>
    </select>
    </br>
    <input type="checkbox" name="terms" value="terms"> Ég samþykki skilmála
    <input type="submit" value="Greiða fyrir framlag">
</form>
