@model BookCave.Models.InputModels.DonateInputModel
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" id="donateCarousel">
      <img src="~/images/schoolkid.jpg" alt="School kid" width="1200" height="700"/>
      <div class="carousel-caption d-none d-md-block">
        <h3>Við viljum að allir fái tækifæri til þess að lesa</h3>
        <p>Um allan heim eru milljónir manns sem geta ekki nýtt sér hæfileika sína til fulls að sökum lélegs aðgengis að 
          lesefni. Rannsóknir hafa leitt í ljós að gott aðgengi að bókum dregur gríðarlega úr fátækt og veitir 
          einstaklingum möguleika á góðri vinnu, góðum launum og betri heilsu barna.</p>
      </div>      
    </div>

    <div class="item" id="donateCarousel">
      <img src="~/images/group-of-kids.jpg" alt="Happy kids" width="1200" height="700"/>
      <div class="carousel-caption d-none d-md-block">
        <h3>Betri heilsa barna</h3>
        <p>Börn í þróunarlöndum, sem eiga læsa móður, eru helmingi líklegri að lifa lengur en til 5 ára aldurs.</p>
      </div>      
    </div>
  
    <div class="item" id="donateCarousel">
      <img src="/images/kid-smiling.jpg" alt="Kids with book" width="1200" height="700"/>
      <div class="carousel-caption d-none d-md-block">
        <h3>Bjartari framtíð</h3>
        <p>Við vinnum með mörgum útgáfufyrirtækjum sem styðja við bakið á rúmlega 3.000 bókasöfnum víða í Afríku og Asíu með því að senda þeim vel valdar bækur.
            Þannig tryggjum við betri framtíð og lífsgæði fyrir þá sem minna mega sín.</p>
      </div>      
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container-fluid text-center">  
<h1 id="title">Þitt framlag skiptir máli!</h1>
</div>

<form asp-action="Donate">
  <div class="form-group">
    <label for="name">Fullt nafn</label>
    <input asp-for="Name"type="text" class="form-control" id="nameInput" />
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Netfang</label>
    <input  asp-for="Email" type="email" class="form-control" id="emailInput" />
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="form-group">
  <label  for="ammount">Upphæð:</label>
  <select asp-for="Amount" class="form-control" id="ammount">
    <option value="1.000">1.000 kr.</option>
    <option value="2.000">2.000 kr.</option>
    <option value="5.000">5.000 kr.</option>
    <option value="10.000">10.000 kr.</option>
    <option value="15.000">15.000 kr.</option>
    <option value="25.000">25.000 kr.</option>
    <option value="50.000">50.000 kr.</option>
  </select>
  <span asp-validation-for="Amount" class="text-danger"></span>
  </div>
  <div class="form-check">
    <label class="form-check-label" for="terms-check">Ég samþykki skilmála</label>
    <input  asp-for="Checked" type="checkbox" class="terms-check" id="terms-check"/>
    <span asp-validation-for="Checked" class="text-danger"></span>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit">Senda pöntun</button>
  </div>
  <!--button onclick="document.getElementById('id05').style.display='block'">Senda pöntun</button>
      <div id="id05" class="modal">
        <form class="modal-content animate" action="/action_page.php">
          <div class="container" style="background-color:#f1f1f1">
            <div class="main-container">
                <h1>Takk fyrir stuðninginn!</h1>
                <h3>Framlag þitt hefur verið greitt</h3>
                <p>Þú hefur fengið staðfestingu á netfangið þitt</p>
                <a asp-controller="Home" asp-action="Index">Aftur á forsíðu</a>
            </div>
          </div>
        </form>
      </div-->
</form>
