<div>
    <form action="Book/Category">
        <h2>Innskráning</h2>
        <label>Notendanafn: <input type="text" name="username"/></label>
        <br/>
        <label>Lykilorð: <input type="password" name="password"/></label>
        <br/>
        <input type="submit" value="Innskrá"/>
    </form>
</div>