<div class="container">
    <div class="about-button">
        <a class="btn btn-info" role="button" asp-controller="Home" asp-action="About">Um okkur</a>
        <a class="btn btn-info" role="button" asp-controller="Home" asp-action="Terms">Skilmálar og skilyrði</a>
    </div>
</div>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Teymið okkar</h1>      
    <p>Hér fyrir neðan gefur að líta bakenda teymi vefsíðunnar...</p>
  </div>
</div>

<div class="container-fluid bg-3 text-center"><br/><br/>    
  <div class="row">
    <div class="col-sm-3">
      <p>Dagrún Ósk Jónasdóttir,</p>
      <p>grafískur hönnuður</p>
      <img src="~/images/dagrun.jpg" class="img-responsive" style="width:100%" alt="Image"/>
    </div>
    <div class="col-sm-3"> 
      <p>Harpa Guðrún Hreinsdóttir,</p>
      <p>sérfræðingur í gagnagrunni</p>
      <img src="~/images/harpa.jpg" class="img-responsive" style="width:100%" alt="Image"/>
    </div>
    <div class="col-sm-3"> 
      <p>Vigdís Birna Þorsteinsdóttir,</p>
      <p>forstöðukona forritarateymis</p>
      <img src="~/images/vigdis.jpg" class="img-responsive" style="width:100%" alt="Image"/>
    </div>
    <div class="col-sm-3">
      <p>Þorgeir Kristján Þorgeirsson,</p>
      <p>andlegur stuðningsmaður</p>
      <img src="~/images/thorgeir.jpg" class="img-responsive" style="width:100%" alt="Image"/>
    </div>
  </div>
</div><br/>

