<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left specialOrd-div"> 
        @{
            ViewData["Title"] = "Sérpantanir";
        }
        <h1>@ViewData["Title"]</h1>
        <p>Við rekum umfangsmikla pöntunarþjónustu. Við bjóðum upp á mikið og breitt úrval af bókum en finnir þú ekki bókina sem þú leitar að, þá gerum við okkar 
            besta til að hjálpa þér.</br>
            Við viljum einnig þjóna þeim sem kaupa bækur í miklu magni hverju sinni. 
            Hér getur þú pantað eins margar bækur og þér sýnist.</p>
        <p> Fylltu inn upplýsingar hér að neðan um þá bók sem þú óskar eftir og legðu inn pöntun.</p>

        <p>Sérpantaðar vörur greiðast við afhendingu. Þú færð tilkynningu í tölvupósti þegar varan hefur 
            borist okkur og þá er gengið frá greiðslu- og afhendingarmáta. Erlendar vörur taka um 2-4 vikur 
            í pöntun en íslenskar vörur taka innan við viku.</p>
        
        <h2>Upplýsingar um kaupanda</h2>

        <form>
        <div class="form-group col-md-8">
            <label for="inputName">Nafn</label>
            <input type="text" class="form-control" id="inputName"/>
        </div>

        <div class="form-group col-md-4">
            <label for="inputPhone">Símanúmer</label>
            <input type="text" class="form-control" id="inputPhone"/>

        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
            <label for="inputAddress">Heimilisfang</label>
            <input type="text" class="form-control" id="Address"/>
            </div>
            <div class="form-group col-md-2">
            <label for="inputZip">Póstnúmer</label>
            <input type="text" class="form-control" id="inputZip"/>
            </div>
            <div class="form-group col-md-5">
            <label for="inputCity">Borg</label>
            <input type="text" class="form-control" id="inputCity"/>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail">Netfang</label>
            <input type="email" class="form-control" id="inputEmail"/>
        </div>

        <h3>Upplýsingar um bók</h3>   
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titill</th>
                <th>Höfundur</th>
                <th>ISBN</th>
                <th>Magn</th>
            </tr>
            </thead>
            <tbody id="bookList">

            </tbody>
        </table>

        <button class="btn btn-primary" onclick="document.getElementById('id03').style.display='block'" style="width:auto;">Bæta við bók...</button>
        <div id="id03" class="modal">
        <form class="modal-content animate" action="/action_page.php">
            <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Hætta við</button>
            
            <div class="main-container">
                <div class="form-group col-md-5">
                <label for="title"><b>Titill</b></label>
                <input type="text" name="title" required/>
                </div>

                <div class="form-group col-md-4"> 
                <label for="author"><b>Höfundur</b></label>
                <input type="text" name="author" required/>
                </div>
                    
                <div class="form-group col-md-2">  
                <label for="isbn"><b>ISBN (13 stafir)</b></label>
                <input type="text" name="isbn"/>
                </div>

                <div class="form-group col-md-1">
                <label for="amount"><b>Magn</b></label>
                <input type="text" name="amount" required/>
                </div>

                <button type="submit" id="btn-addBook">Bæta við bók</button>
            </div>
        </div>
            
        </form>
        </div>

        <div class="form-group">
        <label for="exampleFormControlTextarea1">Athugasemdir</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>

        <div class="form-group">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck"> Ég samþykki skilmála</label>
            </div>
        </div>
        
        <button onclick="document.getElementById('id04').style.display='block'">Senda pöntun</button>
        <div id="id04" class="modal">
        <form class="modal-content animate" action="/action_page.php">
            <div class="container" style="background-color:#f1f1f1">
            <div class="main-container">
                <h1>Fyrirspurn þín hefur verið send!</h1>
                <p>Þú munt eiga von á svari innan 24 klukkustunda á netfangið þitt.</p>
                <a href="/">Aftur á forsíðu</a>
            </div>
        </div>
            
        </form>
        </div>

        </form>
    </div>
  </div>
</div>

