<h1>Sendur Póstur</h1>


SmtpClient client = new SmtpClient("smtp.gmail.com");
            client.UseDefaultCredentials = false;
            client.Credentials = new NetworkCredential("contactus.bookcave@gmail.com", "BookCave1");
            client.Port = 587;
            client.EnableSsl = true;
            
            MailMessage mailMessage = new MailMessage();
            mailMessage.From = new MailAddress("contactus.bookcave@gmail.com");
            mailMessage.To.Add("dagrunosk@hotmail.com");
            mailMessage.Body = "<head><body><h2>Welcome</h2><h3>takk fyrir pöntunina</h3></body></head>";
            mailMessage.Subject = "Send Pöntun";

            client.Send(mailMessage);