@model List<BookCave.Models.ViewModels.BookListViewModel>
<div class="row">
    <div class="col-sm-3">
        <form>
            <p>Flokkar:</p>
            <div class="form-check form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="spenna" value="Spenna"/> Spenna
                </label>
            </div>

            <div class="form-check form-check">
                <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="gaman" value="Gaman"/> Gaman
                </label>
            </div>

            <div class="form-check form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="aevintyri" value="Aevintyri"/> Ævintýri
                </label>
            </div>

            <div class="form-check form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="barna" value="Barna"/> Barna
                </label>
            </div>

            <p>Verð: </p>


          
            <p>Tungumál: </p>
            <div class="form-check form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="islenska" value="Islenska"/> Íslenska
                </label>
            </div>

            <div class="form-check form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="enska" value="Enska"/> Enska
                </label>
            </div>

            <div class="form-check form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="danska" value="Danska"/> Danska
                </label>
            </div>

            <div class="form-check form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="franska" value="Franska"/> Franska
                </label>
            </div>
            
            <input type="submit" value="Sía" class="btn btn-success active"/>
        </form>
    </div>

    <div class="container">
            <div class="col-md-9 col-sm-12">
                    @foreach(var book in @Model)
                    {
                        <div class="col-xs-4">
                        <span class="thumbnail">
                            <img src="@book.Image" alt="cover">
                            <h4>@book.Name</h4>
                            <div class="ratings">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <hr class="line">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <p class="price">@book.Price kr.</p>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <button class="btn btn-success right">Setja í körfu</button>
                                </div>
                            </div>
                        </span>
                        </div>
                    }
                </div>  
            </div>
    </div>
</div>
    
    
    
    
