<h2>Bækur</h2>

<div>
    <form>
        <p>Flokkar:</p>
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" id="checkboxSuccess" value="option1">
            Gaman
        </label>

    </form>
</div>