/* Festum síurnar á vinstri hlið */
.row > .col-sm-3
{
    float: left;
}

/* Allar .thumbnail mótanir eru til að stilla innihaldið í hverju
    bókarboxi þannig að það komi alltaf eins út */

.thumbnail
{
    display: inline-block;
    width: 260px;
    height: 330px;
    vertical-align: top;
}

.thumbnail h4
{
    position: absolute;
    top: 235px;
    left: 20px;
    right: 20px;
}

.thumbnail .ratings
{
    position: absolute;
    top: 280px;
    left: 20px;
    right: 20px;
}

.thumbnail .row
{
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 20px;
}

.thumbnail .row p
{
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
}

