.img-responsive
{
    width: 7cm;
    height: 7cm;
}

.frontpage-heading
{
    text-align: center;
}

.frontpage-caption
{
    color: black;
}

.carousel-control.left, .carousel-control.right
{
    background-image: none !important;
    filter: none !important;
}