body
{
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Notum padding til að koma í veg fyrir að innihaldið snerti brúnirnar */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

#qrCode
{
    margin: 15px;
}

/* Gerum ráð fyrir smærri skjám */
@media screen and (max-width: 767px)
{
    /* Felum öll caption */
    .carousel-caption
    {
        display: none;
    }
}


