#top10list
{
    counter-reset: LIST-ITEMS;
}

#top10list > #topBooks:before
{
    content: counter( LIST-ITEMS ) ".";
    counter-increment: LIST-ITEMS;
    padding-right: 0.25em;
    font-weight: bold;
    font-size: 20px;
}